<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--Refresh Interval (Seconds)-->
    <add key="RefreshInterval" value="30000"/>
    <add key="TerminalId" value="T00001"/>
    <add key="CompanyId" value="BeyondKode"/>
    <add key="PlatformURL" value="http://10.102.220.174"/>
    <add key="downloadHistoryFile" value="download_history.txt"/>
    <add key="newVersionFile" value="newVersion.txt"/>
    <add key="appToKill" value="VMAgent.exe"/>
    <add key="downloadLocation" value="C:\DownloadedFiles\"/>
    <add key="extractionPath" value="C:\VMAgent"/>
    <add key="backupPath" value="C:\VMAgentBackup"/>

  </appSettings>
</configuration>