<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Refresh Interval (Seconds)-->
    <add key="RefreshInterval" value="30"/>
    <!--Screen Timeout (Seconds)-->
    <add key="ScreenTimeout" value="60"/>
    <!-- <add key="PlatformURL" value="http://10.102.220.174"/> -->
    <add key="PlatformURL" value="http://192.168.0.156"/>
    <add key="CompanyId" value="BeyondKode"/>
    <add key="UserId" value="API"/>
    <add key="UserPassword" value="KSz9OjcGjG2PaIBI2fotcg=="/>
    <add key="TerminalId" value="T00001"/>
    <add key="CashRecyclerEnabled" value="Y"/>
    <add key="CoinRecyclerEnabled" value="Y"/>
    <add key="CoinRecyclerCOMPortNumber" value="2"/>
    <add key="CardDispenserCOMPortNumber" value="1"/>
    <add key="TimeToTransferToOutBoxDaily" value="3:30 am"/>
    <add key="DeploymentToolPath" value="C:\DeploymentTool"/>
    <add key="DeploymentToolnewVersionFileName" value="newVersion.txt"/>
    <add key="DeploymentToolName" value="DeploymentTool.exe"/>
    <add key="AllowDeploymentTool" value="Y"/>
    <add key="ISEKYCEnabled" value="Y"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
